<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- TV support: the app runs on Android TV, but neither leanback nor a
         touchscreen is REQUIRED, so it still installs on phones/tablets. -->
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <!-- Needed on Android 11+ so we can query/launch the YouTube app explicitly. -->
    <queries>
        <package android:name="com.google.android.youtube" />
        <!-- Android TV YouTube -->
        <package android:name="com.google.android.youtube.tv" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" android:host="www.youtube.com" />
        </intent>
    </queries>

    <application
        android:name=".MovieBoxZApp"
        android:allowBackup="true"
        android:banner="@drawable/tv_banner"
        android:icon="@drawable/mbz_logo"
        android:roundIcon="@drawable/mbz_logo"
        android:label="MovieBoxZ"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieBoxZ">

        <!-- Phone / tablet launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MovieBoxZ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Android TV launcher (10-foot, D-pad UI) -->
        <activity
            android:name=".tv.TvActivity"
            android:exported="true"
            android:banner="@drawable/tv_banner"
            android:theme="@style/Theme.MovieBoxZ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
